{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    {% include 'partials/head.html' %}

</head>

<body>
  <div id="siteHeader">
    <div id="preloader">
        <div class="preloader-icon-wrap">
        <img src="{% static 'assets/logo-icon.png' %}" alt="Digilexon" class="preloader-icon">
        </div>
        <div class="preloader-bar-track"><div class="preloader-bar-fill" id="preloaderFill"></div></div>
        <div class="preloader-label">Loading</div>
    </div>

    <div class="cur-dot" id="curDot"></div>
    <div class="cur-ring" id="curRing"></div>
    {% include 'partials/navbar.html' %}
  </div>
    {% block content %}
    {% endblock %}

    {% include 'partials/footer.html' %}

    {% include 'partials/scripts.html' %}

</body>

</html>